.navigation {
  position: fixed;
  z-index: 9999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  pointer-events: none;
}

.navigation.isOpen {
  pointer-events: auto;
}

.navigationLeft {
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(100% - var(--nav-width));

  color: var(--color-black);
}

.navigationContent {
  position: absolute;
  top: 0;
  bottom: 0;
}

@media screen and (max-width: 1025px) {
  .navigationLeft {
    display: none;
  }
}
