.title {
  margin: 0;
  margin-bottom: 30px;

  text-transform: uppercase;

  color: var(--color-white);

  font-size: 42px;
  font-weight: 500;
  line-height: 1.25;
}

.locationsContactList {
  list-style: none;
}

.icon {
  width: 32px;
  height: 32px;

  color: var(--color-light-blue);
}

.locationsContactList li a {
  display: flex;
  align-items: center;

  text-decoration: none;

  color: var(--color-white);

  font-size: 24px;
  line-height: 1.5;
  gap: 0 20px;
}

.locationsContactList li a.mail {
  gap: 0 16px;
}

.locationsContactList li:last-child {
  margin-top: 20px;
}

.locationsItemContentDescription {
  display: block;

  color: var(--color-white);

  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}

.locationsItemBtn {
  display: none;

  padding: 0;

  cursor: pointer;

  border: none;
  background: none;
}

@media screen and (max-width: 1025px) {
  .locationsItemBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 30px 0;

    color: var(--color-white);
    border-top: 1px solid var(--color-light-blue);
    gap: 0 10px;
  }

  .locationsContactList li:last-child {
    margin-bottom: 30px;
  }

  .title.locationsInfoLocation {
    display: none;
  }

  .locationsItemContentDescription {
    overflow: hidden;

    max-height: 0;
    padding: 0 20px 0 20px;

    transition: max-height 0.3s ease-out;

    font-style: normal;
  }

  .locationsItemContentDescription.active {
    --height: 0;
    max-height: var(--height);

    transition: max-height 0.3s ease-in;
  }

  .locationsItem:first-child {
    margin-top: 0;
  }

  .title {
    overflow: hidden;

    margin: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: var(--color-white);

    font-size: 27px;
  }

  .locationsContactList li a {
    font-size: 18px;
  }
}

@media screen and (max-width: 481px) {
  .locationsItemBtn {
    justify-content: flex-start;

    padding-right: 16px;
    padding-left: 16px;
    gap: 0 5px;
  }
}
