/*!***********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./app/globals.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************/
:root,
*::before,
*::after {
  --color-black: #181818;
  --color-charcoal: #4a4a4a;
  --bg-dark-gray: #535353;
  --color-gray: rgb(64 64 64 / 1);
  --color-white: #ffffff;
  --color-star-icon-purple: #afc1ff;
  --color-white-with-opacity: rgb(255 255 255 / 0.85);
  --color-whitesmoke: #f5f5f5;
  --color-blue: #3a63f4;
  --color-blue-opacity: rgb(58 99 244 / 0.7);
  --color-black-circle-shadow: rgb(0 0 0 / 52%);
  --color-light-blue: #9eabea;
  --color-blue-contrast: rgb(28 69 214 / 1);
  --color-light-purple: #e6e2ff;
  --verticals-gradient: linear-gradient(
    110.43deg,
    rgb(0 0 0 / 0.86) 0%,
    rgb(58 99 244 / 0.86) 118.84%
  );
  --achievements-gradient: linear-gradient(
    179.95deg,
    #afc1ff 0.04%,
    rgb(130 135 255 / 0.64) 71.74%,
    #3a63f4 125.19%
  );
  --bg-color-overlay: rgb(9 11 13 / 0.6);
  --color-main-circle-shadow: rgb(0 0 0 / 40%);
  --color-small-circle-shadow: rgb(0 0 0 / 0.22);
  --color-dot-shadow: rgb(0 0 0 / 0.63);
  --margin-x: 80px;
  --padding-y: 70px;
  --nav-width: 439px;
  --video-width: 1214px;
  --hero-width: 1440px;
  --header-height: 100px;
}

html,
body {
  margin: 0;

  -webkit-user-select: none;

     -moz-user-select: none;

          user-select: none;

  background-color: var(--color-white);
}

body {
  overflow-x: hidden;
}

body.navIsOpen {
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

.arrow {
  display: none;
  align-items: center;
  justify-content: center;

  transition: 0.4s ease;
}

.arrow.desktop {
  display: flex;

  color: var(--color-black);
}

.arrow.active {
  transform: rotate(180deg);
}

.activeFrameText {
  animation: 1s enterFrame forwards;
}

.listToggler {
  display: flex;

  margin-top: 30px;
  padding: 0;

  cursor: pointer;

  border: none;
  background: none;
}

.togglerHeading {
  display: flex;
  align-items: center;

  margin: 0;

  text-align: left;

  color: var(--color-black);

  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  gap: 0 19px;
}

.fullWidth {
  position: relative;
  right: 50%;
  left: 50%;

  width: 100vw;
  margin: 0 -50vw;
}

@keyframes enterFrame {
  0% {
    transform: scale(1.1);

    opacity: 1;
    -webkit-clip-path: inset(0 0 100% 100%);
            clip-path: inset(0 0 100% 100%);
  }
  100% {
    transform: scale(1);

    opacity: 1;
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@media screen and (max-width: 1025px) {
  body {
    overflow: visible;
  }
  .arrow {
    display: flex;
  }
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[4].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[2].oneOf[4].use[2]!./node_modules/next/font/local/target.css?{"path":"app/layout.tsx","import":"","arguments":[{"src":[{"path":"../public/Fonts/5760861/39ae88e8-7d53-4395-8f9d-f7a0d4060ec4.woff2","weight":"700","style":"normal"},{"path":"../public/Fonts/5760861/0c4f3bb0-d605-4462-9603-9163a560a536.woff","weight":"700","style":"normal"},{"path":"../public/Fonts/5761058/e62ce8f4-9983-4262-9030-3fdbebcebf39.woff2","weight":"500","style":"normal"},{"path":"../public/Fonts/5761058/0e8ae071-ceee-4b41-9d37-cbb6af5a9ca9.woff","weight":"500","style":"normal"},{"path":"../public/Fonts/5760841/46dd84ea-bb96-46da-973b-d7fcca46437e.woff2","weight":"400","style":"normal"},{"path":"../public/Fonts/5760841/0fb90058-c064-40ed-8109-d1fd8633caa2.woff","weight":"400","style":"normal"}],"variable":"--helvetica-font"}],"variableName":"helvetica"} ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__helvetica_bf31a6';
src: url(/_next/static/media/0f4f7e657e37fc51-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 700;
font-style: normal;
}

@font-face {
font-family: '__helvetica_bf31a6';
src: url(/_next/static/media/fd36551c6243f103-s.p.woff) format('woff');
font-display: swap;
font-weight: 700;
font-style: normal;
}

@font-face {
font-family: '__helvetica_bf31a6';
src: url(/_next/static/media/41987a1b6f2ab06a-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 500;
font-style: normal;
}

@font-face {
font-family: '__helvetica_bf31a6';
src: url(/_next/static/media/1c2e76967e91d6da-s.p.woff) format('woff');
font-display: swap;
font-weight: 500;
font-style: normal;
}

@font-face {
font-family: '__helvetica_bf31a6';
src: url(/_next/static/media/dffb4ce5fc9703f0-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: '__helvetica_bf31a6';
src: url(/_next/static/media/413ab3ca8208f1d1-s.p.woff) format('woff');
font-display: swap;
font-weight: 400;
font-style: normal;
}@font-face {font-family: '__helvetica_Fallback_bf31a6';src: local("Arial");ascent-override: 103.85%;descent-override: 33.68%;line-gap-override: 0.00%;size-adjust: 106.88%
}.__className_bf31a6 {font-family: '__helvetica_bf31a6', '__helvetica_Fallback_bf31a6'
}.__variable_bf31a6 {--helvetica-font: '__helvetica_bf31a6', '__helvetica_Fallback_bf31a6'
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/common/Logo/index.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.Logo_logo___Ec1c {
  position: relative;

  display: block;

  width: 103px;
  height: 51px;

  animation: Logo_logo-events__8qrvb forwards;
  animation-delay: 1.5s;
  text-decoration: none;
  pointer-events: none;
}

.Logo_logo___Ec1c.Logo_privacyLogo__LqNoc {
  animation: none;
  pointer-events: auto;
}

.Logo_logo___Ec1c.Logo_privacyLogo__LqNoc svg {
  animation: none;

  opacity: 1;
}

.Logo_logo___Ec1c svg {
  width: 100%;
  height: 100%;

  animation: 1.5s ease Logo_logo-enter__13OMj forwards;

  opacity: 0;
}

@keyframes Logo_logo-events__8qrvb {
  0% {
    pointer-events: none;
  }
  100% {
    pointer-events: auto;
  }
}

@keyframes Logo_logo-enter__13OMj {
  0% {
    transform: scale(1.2);

    opacity: 1;
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  100% {
    transform: scale(1);

    opacity: 1;
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@media screen and (max-width: 1025px) {
  .Logo_logo___Ec1c {
    width: 55px;
    height: 22px;
    padding: 0;

    animation: none;
    pointer-events: auto;
  }

  .Logo_logo___Ec1c svg {
    animation: none;

    opacity: 1;
  }
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/common/HamburgerButton/index.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.HamburgerButton_hamburgerButton__4MzzP {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;

  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;

  padding: 36px 87px 36px 99px;

  cursor: pointer;
  animation: HamburgerButton_button-events__uLypb forwards;
  animation-delay: 1.5s;
  pointer-events: none;

  border: none;
  border-radius: 0 0 0 44px;
  background-color: var(--color-blue);
}

.HamburgerButton_lineWrapper__77yxX {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 34px;
  height: 27px;

  animation: 1.5s ease HamburgerButton_button-enter__8116w backwards;
  /* transition: transform 0.2s ease, opacity 0.2s ease; */
}

@keyframes HamburgerButton_button-events__uLypb {
  0% {
    pointer-events: none;
  }
  100% {
    pointer-events: auto;
  }
}

@keyframes HamburgerButton_button-enter__8116w {
  0% {
    transform: scale(1.2);

    opacity: 1;
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  100% {
    transform: scale(1);

    opacity: 1;
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

.HamburgerButton_line__P_iIV {
  border-top: 3px solid var(--color-white);
  /* transition: transform 0.2s ease; */
}

.HamburgerButton_hamburgerButton__4MzzP:hover .HamburgerButton_lineWrapper__77yxX {
  transform: scale(1.1);
}

.HamburgerButton_hamburgerButton__4MzzP.HamburgerButton_navBtn__brwCb {
  position: absolute;
  top: 0;
  right: 0;

  padding: 30px;

  opacity: 1;
  border-radius: 0;
}

.HamburgerButton_hamburgerButton__4MzzP.HamburgerButton_navBtn__brwCb.HamburgerButton_isActive__oFQIz .HamburgerButton_lineWrapper__77yxX {
  opacity: 1;
}

.HamburgerButton_lineTop__SnoeE {
  transform-origin: top left;
}

.HamburgerButton_lineMiddle__fJgVT {
  align-self: flex-end;

  width: 17px;
}

.HamburgerButton_hamburgerButton__4MzzP.HamburgerButton_isActive__oFQIz .HamburgerButton_lineWrapper__77yxX {
  opacity: 0;
}

.HamburgerButton_hamburgerButton__4MzzP.HamburgerButton_navBtn__brwCb.HamburgerButton_isActive__oFQIz .HamburgerButton_lineTop__SnoeE {
  transform: translateX(5px) rotate(45deg);
}

.HamburgerButton_hamburgerButton__4MzzP.HamburgerButton_navBtn__brwCb.HamburgerButton_isActive__oFQIz .HamburgerButton_lineMiddle__fJgVT {
  opacity: 0;
}

.HamburgerButton_hamburgerButton__4MzzP.HamburgerButton_navBtn__brwCb.HamburgerButton_isActive__oFQIz .HamburgerButton_lineBottom__xzI7P {
  transform: translateY(-13px) rotate(-45deg);
}

@media screen and (max-width: 1025px) {
  .HamburgerButton_hamburgerButton__4MzzP {
    position: initial;

    display: block;

    padding: 0;

    animation: none;
    pointer-events: auto;

    background: none;
  }

  .HamburgerButton_lineWrapper__77yxX {
    transition: none;
    animation: none;
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/navigation/Bg/index.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Bg_menuBackground__shyWs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding-left: 80px;

  transition: opacity 0.4s ease, -webkit-clip-path 0.4s ease;

  transition: clip-path 0.4s ease, opacity 0.4s ease;

  transition: clip-path 0.4s ease, opacity 0.4s ease, -webkit-clip-path 0.4s ease;
  transition-delay: 200ms;

  opacity: 0;
  background: var(--verticals-gradient);
  -webkit-clip-path: circle(5.5% at 98% 2%);
          clip-path: circle(5.5% at 98% 2%);
}

.Bg_menuBackground__shyWs img {
  opacity: 0;
  object-fit: cover;
}

.Bg_menuBackground__shyWs.Bg_activeMenu__LQvfA {
  opacity: 1;
  -webkit-clip-path: circle(140.2% at 97% 4%);
          clip-path: circle(140.2% at 97% 4%);
}

.Bg_menuBackground__shyWs.Bg_activeContent__yCSb4 img {
  position: relative;
}

.Bg_menuBackground__shyWs.Bg_activeContent__yCSb4 img.Bg_activeImg__CuqV0 {
  z-index: 5;

  animation: 0.6s Bg_down-enter__xoOIb ease forwards;
}

.Bg_menuBackground__shyWs.Bg_activeContent__yCSb4 img.Bg_prevImg__9FZms {
  z-index: 2;

  opacity: 1;
}

@keyframes Bg_down-enter__xoOIb {
  0% {
    transform: scale(1);

    opacity: 0.6;
  }
  100% {
    transform: scale(1.05);

    opacity: 1;
  }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/navigation/Card/index.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.Card_navigationArticle__RweL6 {
  max-width: 773px;
  padding: 70px 60px;

  opacity: 0;
  border-radius: 44px 0;
  background: var(--color-white-with-opacity);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.Card_navigationArticle__RweL6.Card_active__aWFB_ {
  animation: 0.5s Card_down-enter-article___d_nT ease-in-out forwards;
  animation-delay: 500ms;
}

@keyframes Card_down-enter-article___d_nT {
  0% {
    transform: translateY(200px);

    opacity: 0.3;
  }
  30% {
    transform: translateY(1);

    opacity: 0.5;
  }
  50% {
    transform: translateY(1);

    opacity: 1;
  }
  80% {
    transform: scale(1.08);

    opacity: 1;
  }
  100% {
    transform: scale(1);

    opacity: 1;
  }
}

.Card_navigationArticle__RweL6 h4 {
  display: flex;
  align-items: center;

  margin: 0;

  text-transform: uppercase;

  opacity: 0;

  font-size: 38px;
  font-weight: 500;
  line-height: 1.25;
}

.Card_navigationArticle__RweL6.Card_active__aWFB_ h4 {
  animation: 0.6s Card_down-enter__M5nyI forwards;
  animation-delay: 0.9s;
}

@keyframes Card_down-enter__M5nyI {
  0% {
    transform: scale(1.1);

    opacity: 0;
    -webkit-clip-path: inset(0 0 100% 100%);
            clip-path: inset(0 0 100% 100%);
  }
  100% {
    transform: scale(1);

    opacity: 1;
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

.Card_icon__SO9DP {
  width: 44px;
  height: 44px;
  margin-right: 20px;

  color: var(--color-blue);
}

.Card_navigationArticle__RweL6 p {
  margin: 20px 0 0 0;
  padding-bottom: 20px;

  border-bottom: 1px solid var(--color-blue);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.Card_navigationArticle__RweL6 p.Card_subtitle__hK6bb {
  max-width: 550px;
  margin: 20px 0 0 0;
  padding: 0;

  border: none;

  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}

.Card_navigationArticle__RweL6.Card_active__aWFB_ p {
  animation: 0.6s Card_showSubtitle___t9we ease backwards;
  animation-delay: 1.8s;
}

.Card_navigationArticle__RweL6.Card_active__aWFB_ p.Card_subtitle__hK6bb {
  animation-delay: 1.2s;
}

@keyframes Card_showSubtitle___t9we {
  0% {
    transform: translateX(-45px);

    opacity: 0;
  }
  100% {
    transform: translateX(0);

    opacity: 1;
  }
}

.Card_navigationArticle__RweL6 h4.Card_subcategories__tFqcn {
  margin: 20px 0;
}

.Card_navigationArticle__RweL6.Card_active__aWFB_ h4.Card_subcategories__tFqcn {
  animation-delay: 2.4s;
}

.Card_navigationArticle__RweL6 ul {
  /* display: flex;
  flex-wrap: wrap;
  gap: 15px; */
  margin-left: 20px;
  columns: 2;
}

.Card_navigationArticle__RweL6 ul li {
  margin-right: 15px;
  margin-bottom: 15px;

  list-style-position: outside;

  text-transform: capitalize;

  opacity: 0;
  color: var(--color-light-blue);

  font-weight: 400;
}

.Card_navigationArticle__RweL6 ul span {
  display: inline-block;

  vertical-align: middle;

  opacity: 0;
  color: var(--color-black);
}

.Card_navigationArticle__RweL6.Card_active__aWFB_ ul span {
  animation: 1s ease Card_li-enter__LQoVV forwards;
  animation-delay: 3s;
}

.Card_navigationArticle__RweL6.Card_active__aWFB_ ul li {
  animation: 1s ease Card_li-fadeIn__Cy_Pq forwards;
  animation-delay: 3s;
}

@keyframes Card_li-fadeIn__Cy_Pq {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Card_li-enter__LQoVV {
  0% {
    opacity: 1;
    -webkit-clip-path: inset(0 120% 0 0);
            clip-path: inset(0 120% 0 0);
  }
  100% {
    opacity: 1;
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@media screen and (max-width: 1281px) {
  .Card_navigationArticle__RweL6 {
    max-width: 580px;
    padding: 30px;
  }
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/navigation/NavDropdown/NavDropdownList/index.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************/
.NavDropdownList_subcategories__MRTaT {
  --heightList: 0;
  overflow: hidden;

  max-height: 0;
  margin-left: 20px;

  list-style: disc;

  transition: max-height 0.3s ease-out;
}

.NavDropdownList_subcategories__MRTaT li:first-child {
  margin-top: 20px;
}

.NavDropdownList_subcategories__MRTaT li:last-child {
  margin-bottom: 0;
}

.NavDropdownList_subcategories__MRTaT.NavDropdownList_active__Wcq_1 {
  overflow: visible;

  max-height: var(--heightList);

  transition: max-height 0.3s ease-in;
}

.NavDropdownList_subcategories__MRTaT li {
  margin-bottom: 15px;

  text-align: left;
  text-transform: capitalize;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/navigation/NavDropdown/NavDropdownAchievements/index.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************/
.NavDropdownAchievements_achievements__Y_jBA li:first-child {
  margin-top: 20px;
}

.NavDropdownAchievements_achievements__Y_jBA li:last-child {
  margin-bottom: 0;
}

.NavDropdownAchievements_achievements__Y_jBA {
  --heightAchievements: 0;
  overflow: hidden;

  max-height: 0;

  transition: max-height 0.3s ease-out;
}

.NavDropdownAchievements_achievements__Y_jBA.NavDropdownAchievements_active__XNcde {
  max-height: var(--heightAchievements);

  transition: max-height 0.3s ease-in;
}

.NavDropdownAchievements_achievements__Y_jBA li {
  display: flex;
  align-items: center;

  margin-bottom: 15px;

  text-align: left;

  line-height: 1.5;
  gap: 0 5px;
}

.NavDropdownAchievements_achievements__Y_jBA li span {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}

.NavDropdownAchievements_achievements__Y_jBA li span.NavDropdownAchievements_achievementsDescription__0cQmN {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 481px) {
  .NavDropdownAchievements_achievements__Y_jBA li span {
    font-size: 20px;
  }
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/navigation/NavDropdown/index.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.NavDropdown_mobileMenuContent__3hRmw {
  --height: 0;
  overflow: hidden;

  max-height: 0;

  transition: max-height 0.3s ease-out;
  text-align: right;
}

.NavDropdown_menuItemBtn__55imZ {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  padding: 0;

  cursor: pointer;
  text-align: right;

  color: var(--color-white);
  border: none;
  background: none;

  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  gap: 0 13px;
}

.NavDropdown_mobileMenuContent__3hRmw.NavDropdown_active__jSEel {
  max-height: var(--height);

  transition: max-height 0.3s ease-in;
}

.NavDropdown_mobileMenuDescription__VzNWn {
  padding: 40px 20px;

  color: var(--color-black);
  border-radius: 44px 0px;
  background-color: var(--color-white);
}

.NavDropdown_subtitle__KcMt8 {
  margin: 0;

  text-align: left;

  color: var(--color-black);

  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.NavDropdown_description__MBq_Y {
  margin: 20px 0 0 0;

  text-align: left;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/navigation/SideBar/index.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.SideBar_navigationRight___GMSw {
  right: 0;

  max-width: var(--nav-width);
  max-height: 100%;
  padding: 90px 0 50px 0;

  transition: transform 0.4s ease-in-out;
  transform: translateX(100%);

  color: var(--color-white);
  border-radius: 44px 0 0 0;
  background-color: var(--color-blue);
}

.SideBar_navigationRight___GMSw.SideBar_active__wEUCF {
  z-index: 152;

  overflow-x: hidden;
  overflow-y: scroll;

  transform: translateX(0);
  scrollbar-width: none;
}

.SideBar_navigationRight___GMSw.SideBar_active__wEUCF::-webkit-scrollbar {
  display: none;
}

.SideBar_navigationContent__Fpxnu {
  position: absolute;
  top: 0;
  bottom: 0;
}

.SideBar_desktopNav__inwfL {
  list-style: none;
}

.SideBar_navigationRight___GMSw ul.SideBar_desktopNav__inwfL li {
  padding: 18px 50px;

  cursor: pointer;
  transition: 0.35s ease;
}

.SideBar_navigationRight___GMSw ul.SideBar_desktopNav__inwfL li:hover {
  background-color: var(--color-gray);
}

.SideBar_navigationRight___GMSw ul li:last-child {
  margin-bottom: 0;
}

.SideBar_navIcon__8uFVO {
  align-self: center;

  width: 34px;
  height: 34px;
  margin-right: 20px;
}

.SideBar_navArrow__bdetg {
  align-self: center;

  margin-left: 19px;
}

.SideBar_menuItem__0mRSi {
  display: flex;

  margin: 0;

  cursor: pointer;

  color: var(--color-white);

  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}

@media screen and (max-width: 1025px) {
  .SideBar_navigationRight___GMSw {
    overflow-y: auto;
  }

  .SideBar_navigationRight___GMSw ul.SideBar_desktopNav__inwfL {
    padding: 0 20px;
  }

  .SideBar_navIcon__8uFVO {
    display: none;
  }

  .SideBar_navigationRight___GMSw ul.SideBar_desktopNav__inwfL li {
    margin-bottom: 15px;
    padding: 0;
  }

  .SideBar_navigationRight___GMSw ul.SideBar_desktopNav__inwfL li:last-child {
    margin-bottom: 0;
  }

  .SideBar_navigationRight___GMSw ul.SideBar_desktopNav__inwfL li:hover {
    background: none;
  }

  .SideBar_menuItem__0mRSi {
    display: none;
  }
}

@media screen and (max-width: 481px) {
  .SideBar_navigationRight___GMSw {
    max-width: 331px;
  }

  .SideBar_navigationRight___GMSw ul li button {
    font-size: 18px;
  }

  .SideBar_navigationRight___GMSw ul li {
    margin-bottom: 15px;
  }

  .SideBar_navigationRight___GMSw ul li a {
    font-size: 18px;
  }

  .SideBar_navigationRight___GMSw ul {
    max-width: 291px;
  }
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/sections/NavigationSection/index.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
.NavigationSection_navigation__GlATh {
  position: fixed;
  z-index: 9999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  pointer-events: none;
}

.NavigationSection_navigation__GlATh.NavigationSection_isOpen__ZArON {
  pointer-events: auto;
}

.NavigationSection_navigationLeft__neaLe {
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(100% - var(--nav-width));

  color: var(--color-black);
}

.NavigationSection_navigationContent___Om_g {
  position: absolute;
  top: 0;
  bottom: 0;
}

@media screen and (max-width: 1025px) {
  .NavigationSection_navigationLeft__neaLe {
    display: none;
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/layout/Header/index.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Header_projectHeader__rzRwi {
  position: absolute;
  z-index: 15;
  top: 0;

  width: 100%;
  height: var(--header-height);

  transition: background-color 0.5s ease;

  background-color: transparent;
}

.Header_projectHeader__rzRwi.Header_privacyHeader__jBZki {
  position: static;

  background-color: var(--color-blue);
}

.Header_projectHeaderWrapper__fGzmG {
  display: flex;
  align-items: center;

  max-width: var(--hero-width);
  height: 100%;
  margin: 0 auto;
  padding-left: 80px;
}

@media screen and (max-width: 1281px) {
  .Header_projectHeaderWrapper__fGzmG {
    padding-left: 60px;
  }
}

@media screen and (max-width: 1025px) {
  .Header_projectHeader__rzRwi {
    position: fixed;

    height: 80px;

    background-color: var(--color-blue-opacity);
  }

  .Header_projectHeaderWrapper__fGzmG {
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 60px;
  }
}

@media screen and (max-width: 769px) {
  .Header_projectHeaderWrapper__fGzmG {
    padding: 0 30px;
  }
}

@media screen and (max-width: 481px) {
  .Header_projectHeaderWrapper__fGzmG {
    padding: 0 5%;
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/layout/Footer/index.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Footer_projectFooter__LTum_ {
  padding: var(--padding-y) 0;

  background-color: var(--color-black);

  font-family: var(--font-family);
}

.Footer_projectFooterLinks__9YeYb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 75px;
}

.Footer_projectFooterLinksItem__buBwn h3 {
  margin: 0 0 60px 0;

  opacity: 0;
  color: var(--color-white);

  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}

.Footer_projectFooter__LTum_.Footer_active__qD4Ik .Footer_projectFooterLinksItem__buBwn h3 {
  animation: 0.6s Footer_heading-enter__3bxtU forwards;
  animation-delay: 0.6s;
}

@keyframes Footer_heading-enter__3bxtU {
  0% {
    transform: translateX(-50px);

    opacity: 0;
  }
  100% {
    transform: translateY(1);

    opacity: 1;
  }
}

.Footer_footerLogo__6PURZ {
  display: block;

  max-width: 181px;

  transition: 0.7s ease;

  opacity: 0;
  color: var(--color-white);
}

.Footer_footerLogo__6PURZ.Footer_privacyFooterLogo__5qD8V {
  opacity: 1;
}

.Footer_projectFooterLinksItem__buBwn ul {
  list-style: none;
}

.Footer_projectFooterLinksItem__buBwn ul li {
  margin-bottom: 30px;

  opacity: 0;
}

.Footer_projectFooter__LTum_.Footer_active__qD4Ik .Footer_projectFooterLinksItem__buBwn ul li {
  animation: 0.8s ease Footer_li-enter__7bc14 forwards;
  animation-delay: 1.2s;
}

@keyframes Footer_li-enter__7bc14 {
  0% {
    opacity: 1;
    -webkit-clip-path: inset(0 120% 0 0);
            clip-path: inset(0 120% 0 0);
  }
  100% {
    opacity: 1;
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

.Footer_projectFooterLinksItem__buBwn ul li:last-child {
  margin-bottom: 0;
}

.Footer_projectFooterLinksItem__buBwn ul li a {
  display: flex;

  transition: 0.7s ease;
  text-decoration: none;

  color: var(--color-white);

  font-size: 16px;
  font-weight: 400;
  gap: 0 10px;
}

.Footer_projectFooterLinksItem__buBwn ul li a:hover,
.Footer_footerLogo__6PURZ:hover {
  color: var(--color-light-blue);
}

.Footer_verticalsLinkList__iod3q {
  display: grid;
  grid-template-columns: repeat(2, auto);

  justify-content: space-between;
  grid-gap: 0 60px;
  gap: 0 60px;
}

.Footer_verticalsLinkList__iod3q li {
  max-width: 198px;
}

.Footer_projectFooterLinksItem__buBwn .Footer_socials__jgPws li {
  display: inline-block;

  margin-bottom: 0;
  margin-left: 30px;
}

.Footer_icon__mxqrV {
  display: block;

  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1280px) {
  .Footer_projectFooterContent__uT7_x {
    padding: 0 60px;
  }

  .Footer_verticalsLinkListSecond__nz22t {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1025px) {
  .Footer_footerLogo__6PURZ {
    margin: 0 auto;
  }

  .Footer_projectFooterLinks__9YeYb {
    margin-top: 60px;
  }

  .Footer_projectFooterLinksItem__buBwn:first-child {
    width: 100%;
    margin-bottom: 48px;
  }
  .Footer_projectFooterLinksItem__buBwn ul li {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 769px) {
  .Footer_projectFooterContent__uT7_x {
    padding-right: 30px;
    padding-left: 30px;
  }

  .Footer_projectFooterLinksItem__buBwn h3 {
    margin-bottom: 30px;

    font-weight: 500;
  }
}

@media screen and (max-width: 576px) {
  .Footer_projectFooterTerms__PXmRQ {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 481px) {
  .Footer_projectFooterContent__uT7_x {
    padding-right: 5%;
    padding-left: 5%;
  }
}

