/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
.page_main__WunS6 {
  position: relative;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/sections/HeadlineArticle/index.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.HeadlineArticle_headline__GGpDh {
  display: flex;
  justify-content: center;

  margin-top: 60px;
  padding: 89px 0;

  border-radius: 100px 0;
  background: var(--verticals-gradient);
  gap: 0 55px;
}

.HeadlineArticle_headlineSection__0unpV {
  padding: 100px 0;
}

.HeadlineArticle_heading__vErco {
  margin: 0;

  text-transform: uppercase;

  opacity: 0;
  color: var(--color-gray);

  font-size: 77px;
  font-weight: 700;
  line-height: 110%;
}

.HeadlineArticle_headlineText__1SUeg {
  max-width: 640px;
}

.HeadlineArticle_headline__GGpDh .HeadlineArticle_headlineText__1SUeg h2 {
  margin: 0 0 38px 0;

  letter-spacing: 0;
  text-transform: uppercase;

  opacity: 0;
  color: var(--color-white);

  font-size: 80px;
  font-weight: 700;
  line-height: 1.1;
}

.HeadlineArticle_headline__GGpDh .HeadlineArticle_headlineText__1SUeg p {
  margin: 0;

  transition: transform 1s ease, opacity 1s ease;
  transition-delay: 0.5s;
  transform: translateX(-45px);

  opacity: 0;
  color: var(--color-white);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.HeadlineArticle_headlineSection__0unpV.HeadlineArticle_active__WVhQz .HeadlineArticle_headlineText__1SUeg p {
  transition-delay: 1.3s;
  transform: translateX(0);

  opacity: 1;
}

.HeadlineArticle_headline__GGpDh img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1281px) {
  .HeadlineArticle_headline__GGpDh {
    justify-content: space-between;

    padding-right: 60px;
    padding-left: 60px;
  }
}

@media screen and (max-width: 1025px) {
  .HeadlineArticle_headlineSection__0unpV {
    padding: 60px 0;
  }

  .HeadlineArticle_heading__vErco {
    text-align: center;
  }

  .HeadlineArticle_headline__GGpDh {
    flex-wrap: wrap-reverse;
    justify-content: center;

    padding: 60px;

    border-radius: 44px 0;
  }

  .HeadlineArticle_headline__GGpDh .HeadlineArticle_headlineText__1SUeg h2 {
    margin: 30px 0;

    text-align: center;

    font-size: 60px;
  }

  .HeadlineArticle_headline__GGpDh .HeadlineArticle_headlineText__1SUeg p {
    text-align: center;
  }
}

@media screen and (max-width: 769px) {
  .HeadlineArticle_heading__vErco {
    font-size: 45px;
  }
  .HeadlineArticle_headline__GGpDh .HeadlineArticle_headlineText__1SUeg h2 {
    font-size: 45px;
  }
}

@media screen and (max-width: 481px) {
  .HeadlineArticle_heading__vErco {
    font-size: 35px;
  }

  .HeadlineArticle_headline__GGpDh {
    margin-top: 40px;
    padding: 20px 19px 60px 19px;

    border-radius: 44px 0;
  }

  .HeadlineArticle_headline__GGpDh .HeadlineArticle_headlineText__1SUeg h2 {
    font-size: 39px;
  }
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/sections/LogoListSection/index.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.LogoListSection_LogoListSection__MCyZI {
  padding: 100px 0;
}

.LogoListSection_heading__cejra {
  margin: 0;

  text-transform: uppercase;

  color: var(--color-gray);

  font-size: 77px;
  font-weight: 700;
  line-height: 110%;
}

.LogoListSection_logoList__5zddk {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;

  padding-top: 60px;

  list-style: none;
  gap: 60px 0;
}

.LogoListSection_logoListItem__Hhs7R {
  width: 25%;
}

.LogoListSection_logoListItem__Hhs7R img {
  display: block;

  margin: 0 auto;
}

@media screen and (max-width: 1025px) {
  .LogoListSection_LogoListSection__MCyZI {
    padding: 60px 22px;
  }

  .LogoListSection_heading__cejra {
    text-align: center;
  }

  .LogoListSection_logoList__5zddk {
    gap: 30px;
  }

  .LogoListSection_logoListItem__Hhs7R {
    width: 45%;
  }
}

@media screen and (max-width: 769px) {
  .LogoListSection_heading__cejra {
    font-size: 45px;
  }
}

@media screen and (max-width: 481px) {
  .LogoListSection_heading__cejra {
    font-size: 35px;
  }

  .LogoListSection_logoList__5zddk {
    padding-top: 40px;
  }

  .LogoListSection_LogoListSection__MCyZI {
    padding-right: 5%;
    padding-left: 5%;
  }
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/sections/AchievementsSection/CountItem/index.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************/
.CountItem_countItem__9vHQl {
  position: relative;

  width: 100%;
  height: 100%;

  transition: transform 1.5s ease, opacity 0.4s ease;
  transform: scale(1.25);

  opacity: 0;
  color: var(--color-white);
  border-radius: 50%;
}

.CountItem_countItem__9vHQl.CountItem_active__F7IQs {
  transform: scale(1);

  opacity: 1;
}

.CountItem_countContent__395Zp {
  position: absolute;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;

  transition: transform 0.3s ease;
  transform: translateY(40px);
}

.CountItem_countItem__9vHQl.CountItem_active__F7IQs .CountItem_countContent__395Zp {
  transform: translateY(0);
}

.CountItem_countItem__9vHQl.CountItem_blue__Bb9wR .CountItem_countContent__395Zp {
  transform: translateY(0);
}

.CountItem_countItem__9vHQl svg {
  width: 100%;
  height: 100%;
}

.CountItem_countItem__9vHQl.CountItem_blue__Bb9wR .CountItem_shape__b4MxG {
  stroke: var(--color-light-blue);
}

.CountItem_countItem__9vHQl.CountItem_blue__Bb9wR.CountItem_active__F7IQs .CountItem_shape__b4MxG {
  animation-delay: 0s;
}

.CountItem_countItem__9vHQl .CountItem_shape__b4MxG {
  transform-origin: 50%;

  opacity: 0;
  fill: none;
  stroke: var(--color-white);
  stroke-width: 5;
  stroke-dasharray: 1000;
}

.CountItem_countItem__9vHQl.CountItem_active__F7IQs .CountItem_shape__b4MxG {
  animation: CountItem_circle__hSic7 1.5s linear forwards;
  animation-delay: 0.3s;
}

@keyframes CountItem_circle__hSic7 {
  0% {
    transform: rotate(-360deg);

    opacity: 1;
    stroke-dashoffset: 1000;
  }
  60% {
    transform: rotate(-150deg);

    opacity: 1;
    stroke-dashoffset: 600;
  }
  80% {
    transform: rotate(-100deg);

    opacity: 1;
    stroke-dashoffset: 300;
  }
  100% {
    transform: rotate(-90deg);

    opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes CountItem_rotate__I1AqQ {
  0% {
    transform: rotate(-200deg);
  }
  50% {
    transform: rotate(-100deg);
  }
  100% {
    transform: rotate(-83deg);
  }
}

.CountItem_countItem__9vHQl p {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;

  font-size: 50px;
  font-weight: 700;
  line-height: 1.1;
  gap: 0 3px;
}

.CountItem_countItem__9vHQl p span {
  font-size: 40px;
}

.CountItem_countItem__9vHQl span {
  max-width: 80%;

  text-align: center;
  text-transform: uppercase;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.25;
}

@media screen and (max-width: 1025px) {
  .CountItem_countItem__9vHQl p {
    font-size: 40px;
  }

  .CountItem_countItem__9vHQl span {
    font-size: 16px;
  }
}

@media screen and (max-width: 481px) {
  .CountItem_countItem__9vHQl p {
    margin-bottom: 0px;

    font-size: 35px;
  }

  .CountItem_countItem__9vHQl span,
  .CountItem_countItem__9vHQl p span {
    font-size: 14px;
  }
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/sections/AchievementsSection/index.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************/
.AchievementsSection_achievements__sVaVI {
  margin-top: 70px;
  padding: 60px 0;

  border-radius: 100px 0;
  background-color: var(--color-gray);
}

.AchievementsSection_achievements__sVaVI h2 {
  margin: 0 0 60px 0;

  text-align: center;
  text-transform: uppercase;

  color: var(--color-white);

  font-size: 80px;
  line-height: 1.1;
}

.AchievementsSection_achievementsCounter__YOGWI {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0 140px;

  list-style: none;
  gap: 60px;
}

.AchievementsSection_achievementsCounter__YOGWI li {
  width: 213px;
  height: 213px;
}

@media screen and (max-width: 1025px) {
  .AchievementsSection_achievements__sVaVI {
    margin-top: 60px;
    padding: 60px 0;

    border-radius: 44px 0;
  }

  .AchievementsSection_achievements__sVaVI h2 {
    max-width: 450px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;

    text-align: center;

    font-size: 60px;
  }

  .AchievementsSection_achievementsCounter__YOGWI {
    gap: 30px;
  }
}

@media screen and (max-width: 769px) {
  .AchievementsSection_achievementsCounter__YOGWI {
    padding: 0 30px;
  }

  .AchievementsSection_achievements__sVaVI h2 {
    font-size: 45px;
  }
}

@media screen and (max-width: 576px) {
  .AchievementsSection_achievementsCounter__YOGWI li {
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 481px) {
  .AchievementsSection_achievementsCounter__YOGWI {
    padding: 0 20px;
    gap: 19px 16px;
  }

  .AchievementsSection_achievements__sVaVI h2 {
    margin: 0 20px 30px 20px;

    font-size: 39px;
  }

  .AchievementsSection_achievementsCounter__YOGWI li {
    width: 138px;
    height: 138px;
  }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/sections/LocationsSection/LocationsItem/index.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************/
.LocationsItem_title__tUu25 {
  margin: 0;
  margin-bottom: 30px;

  text-transform: uppercase;

  color: var(--color-white);

  font-size: 42px;
  font-weight: 500;
  line-height: 1.25;
}

.LocationsItem_locationsContactList__ESwZr {
  list-style: none;
}

.LocationsItem_icon__Dg8FE {
  width: 32px;
  height: 32px;

  color: var(--color-light-blue);
}

.LocationsItem_locationsContactList__ESwZr li a {
  display: flex;
  align-items: center;

  text-decoration: none;

  color: var(--color-white);

  font-size: 24px;
  line-height: 1.5;
  gap: 0 20px;
}

.LocationsItem_locationsContactList__ESwZr li a.LocationsItem_mail__V610z {
  gap: 0 16px;
}

.LocationsItem_locationsContactList__ESwZr li:last-child {
  margin-top: 20px;
}

.LocationsItem_locationsItemContentDescription__x2vab {
  display: block;

  color: var(--color-white);

  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}

.LocationsItem_locationsItemBtn__QLr72 {
  display: none;

  padding: 0;

  cursor: pointer;

  border: none;
  background: none;
}

@media screen and (max-width: 1025px) {
  .LocationsItem_locationsItemBtn__QLr72 {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 30px 0;

    color: var(--color-white);
    border-top: 1px solid var(--color-light-blue);
    gap: 0 10px;
  }

  .LocationsItem_locationsContactList__ESwZr li:last-child {
    margin-bottom: 30px;
  }

  .LocationsItem_title__tUu25.LocationsItem_locationsInfoLocation__HdQ2E {
    display: none;
  }

  .LocationsItem_locationsItemContentDescription__x2vab {
    overflow: hidden;

    max-height: 0;
    padding: 0 20px 0 20px;

    transition: max-height 0.3s ease-out;

    font-style: normal;
  }

  .LocationsItem_locationsItemContentDescription__x2vab.LocationsItem_active__pffxY {
    --height: 0;
    max-height: var(--height);

    transition: max-height 0.3s ease-in;
  }

  .LocationsItem_locationsItem__q9aiJ:first-child {
    margin-top: 0;
  }

  .LocationsItem_title__tUu25 {
    overflow: hidden;

    margin: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: var(--color-white);

    font-size: 27px;
  }

  .LocationsItem_locationsContactList__ESwZr li a {
    font-size: 18px;
  }
}

@media screen and (max-width: 481px) {
  .LocationsItem_locationsItemBtn__QLr72 {
    justify-content: flex-start;

    padding-right: 16px;
    padding-left: 16px;
    gap: 0 5px;
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/sections/LocationsSection/index.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.LocationsSection_locations__ftxVw {
  padding: 100px 0;

  background-color: var(--color-blue);
}

.LocationsSection_locations__ftxVw h2 {
  margin: 0;

  text-transform: uppercase;

  opacity: 0;
  color: var(--color-white);

  font-size: 80px;
  line-height: 1.1;
}

.LocationsSection_locationsList__Xq_wa {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 62px;

  list-style: none;
  gap: 100px 45px;
}

.LocationsSection_bordered__SQtSq {
  padding: 0 25px;

  border-right: 1px solid var(--color-white);
  border-left: 1px solid var(--color-white);
}

.LocationsSection_rightBorder__lZ7lw {
  padding-right: 25px;

  border-right: 1px solid var(--color-white);
}

.LocationsSection_locationsItem__P3I0b {
  transition: transform 0.55s ease, opacity 0.35s ease-in-out;

  opacity: 0;
}

.LocationsSection_locationsItem__P3I0b.LocationsSection_active__hIc5Y {
  transform: translateX(0);

  opacity: 1;
}

.LocationsSection_smallX__n94Y4 {
  transition-delay: 1.3s;
  transform: translateX(-100px);
}

.LocationsSection_middleX__ShabI {
  transition-delay: 1.5s;
  transform: translateX(-120px);
}

.LocationsSection_largeX__Y4Nu0 {
  transition-delay: 1.7s;
  transform: translateX(-140px);
}

.LocationsSection_largeXL__OWYGg {
  transition-delay: 1.9s;
  transform: translateX(-160px);
}

.LocationsSection_largeXXL__OUzac {
  transition-delay: 2.1s;
  transform: translateX(-180px);
}

@media screen and (max-width: 1281px) {
  .LocationsSection_locations__ftxVw {
    padding-right: 60px;
    padding-left: 60px;
  }
  .LocationsSection_locationsList__Xq_wa {
    justify-content: flex-start;
    gap: 50px 30px;
  }
}

@media screen and (max-width: 1025px) {
  .LocationsSection_locations__ftxVw {
    padding-top: 60px;
    padding-bottom: 60px;

    border-radius: 44px 0;
  }

  .LocationsSection_locationsItem__P3I0b {
    width: 100%;
  }

  .LocationsSection_locations__ftxVw h2 {
    text-align: center;
    letter-spacing: 0;

    font-size: 60px;
  }

  .LocationsSection_locationsContent__FFgLo {
    margin: 0;
  }

  .LocationsSection_bordered__SQtSq,
  .LocationsSection_rightBorder__lZ7lw {
    padding: 0;

    border: none;
  }

  .LocationsSection_locationsList__Xq_wa {
    margin-top: 60px;

    transform: scaleY(1);
    gap: 0;
  }
}

@media screen and (max-width: 769px) {
  .LocationsSection_locations__ftxVw {
    padding-right: 30px;
    padding-left: 30px;
  }

  .LocationsSection_locations__ftxVw h2 {
    font-size: 45px;
  }
}

@media screen and (max-width: 481px) {
  .LocationsSection_locations__ftxVw {
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .LocationsSection_locations__ftxVw h2 {
    font-size: 39px;
  }

  .LocationsSection_locationsList__Xq_wa {
    margin-top: 30px;
  }
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/sections/VerticalsSection/VerticalsDesktop/VerticalsCard/index.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************/
.VerticalsCard_verticalDropdownWrapper___ExAK {
  --delay: 0;
  position: relative;

  min-height: 251px;

  list-style: none;

  cursor: pointer;
  transition: transform 0.55s ease, opacity 0.35s ease-in-out;
  transition-delay: var(--delay);

  opacity: 0;
  color: var(--color-white);
  border-radius: 44px 0;
  background: var(--verticals-gradient);
}

.VerticalsCard_verticalCard__MwHHO {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  padding: 26px 0;

  cursor: pointer;
  pointer-events: none;

  color: var(--color-white);
  border: none;
  background: none;
}

.VerticalsCard_verticalDropdownWrapper___ExAK:hover,
.VerticalsCard_verticalDropdownWrapper___ExAK.VerticalsCard_blue__y8qrF:hover,
.VerticalsCard_verticalDropdownWrapper___ExAK.VerticalsCard_active__hoCdr,
.VerticalsCard_verticalDropdownWrapper___ExAK.VerticalsCard_blue__y8qrF.VerticalsCard_active__hoCdr {
  background: var(--color-blue-contrast);
}

.VerticalsCard_verticalDropdownWrapper___ExAK.VerticalsCard_activeAnimation__RxFy9 {
  transform: translateX(0);

  opacity: 1;
}

.VerticalsCard_verticalDropdownWrapper___ExAK.VerticalsCard_activeAnimation__RxFy9 .VerticalsCard_verticalCard__MwHHO {
  pointer-events: auto;
}

.VerticalsCard_verticalCard__MwHHO h2 {
  max-width: 307px;
  margin: 0 auto;

  text-transform: uppercase;

  font-size: 30px;
  font-weight: 500;
  line-height: 1.25;
}

.VerticalsCard_desktopArrow__kRO4H {
  position: absolute;
  right: 5px;
  bottom: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 46px;

  border-radius: 20px 0 40px;
  background-color: var(--color-white);
}

.VerticalsCard_verticalDropdownWrapper___ExAK.VerticalsCard_active__hoCdr .VerticalsCard_desktopArrow__kRO4H {
  background-color: var(--color-light-blue);
}

.VerticalsCard_icon__y9AXc {
  display: block;

  width: 80px;
  height: 80px;
  margin: 0 auto 15px auto;
}

.VerticalsCard_icon__y9AXc.VerticalsCard_isLast__nJPUc {
  width: 211px;
  height: 106px;
  margin: 0 auto;
}

.VerticalsCard_verticalDropdownWrapper___ExAK.VerticalsCard_blue__y8qrF {
  background: var(--color-blue);
}

.VerticalsCard_verticalDropdownWrapperisLast__ESzfl .VerticalsCard_icon__y9AXc {
  display: none;
}

.VerticalsCard_verticalCard__MwHHO.VerticalsCard_isLast__nJPUc {
  cursor: default;
}

.VerticalsCard_verticalDropdownWrapper___ExAK.VerticalsCard_isLast__nJPUc:hover {
  background: var(--verticals-gradient);
}

.VerticalsCard_smallX__oPXvW {
  transform: translateX(-100px);
}

.VerticalsCard_middleX__xzdu7 {
  transform: translateX(-120px);
}

.VerticalsCard_largeX__ECNyS {
  transform: translateX(-140px);
}

@media screen and (max-width: 1201px) {
  .VerticalsCard_verticalCard__MwHHO h2 {
    max-width: 250px;

    font-size: 24px;
  }
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/sections/VerticalsSection/VerticalsDesktop/VerticalsCardDescription/DescriptionContentBottom/CountItem/index.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CountItem_achievement__Jwacn {
  position: relative;

  display: flex;

  width: 158px;
  height: 158px;

  border-radius: 50%;
}

.CountItem_achievement__Jwacn svg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.CountItem_achievement__Jwacn svg .CountItem_shape__snLq5 {
  transform-origin: 50%;

  opacity: 0;
  fill: none;
  stroke-dasharray: 1000;
}

.CountItem_achievement__Jwacn.CountItem_active__ZIJyO svg .CountItem_shape__snLq5 {
  animation: CountItem_circle__N_BSS 1.5s linear forwards;
  animation-delay: 800ms;
}

.CountItem_countDescription__vN97B {
  font-size: 15px;
  line-height: 1.25;
}

@keyframes CountItem_circle__N_BSS {
  0% {
    transform: rotate(-360deg);

    opacity: 1;
    stroke-dashoffset: 1000;
  }
  60% {
    transform: rotate(-150deg);

    opacity: 1;
    stroke-dashoffset: 600;
  }
  80% {
    transform: rotate(-100deg);

    opacity: 1;
    stroke-dashoffset: 300;
  }
  100% {
    transform: rotate(-90deg);

    opacity: 1;
    stroke-dashoffset: 0;
  }
}

.CountItem_achievementData__c1i8S {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;

  text-align: center;

  border-radius: 50%;
  background: var(--color-blue);
}

.CountItem_achievementData__c1i8S h3 {
  display: flex;
  align-items: center;

  margin: 0;

  font-size: 38px;
  font-weight: 700;
  line-height: 1.1;
  gap: 0 3px;
}

.CountItem_achievementData__c1i8S h3 span {
  font-size: 38px;
}

.CountItem_achievementData__c1i8S span {
  display: inline-block;

  max-width: 70%;

  letter-spacing: -0.01em;
  text-transform: uppercase;

  font-size: 11px;
  line-height: 1.2;
}

.CountItem_achievementData__c1i8S span.CountItem_countDescription__vN97B {
  max-width: min-content;

  font-size: 17px;
  line-height: 1.25;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/sections/VerticalsSection/VerticalsDesktop/VerticalsCardDescription/DescriptionContentBottom/index.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.DescriptionContentBottom_descriptionContentBottom___cw6q {
  margin-top: 60px;
}

.DescriptionContentBottom_achievements__4OUqf {
  display: flex;
  flex-wrap: wrap;
  gap: 0 19px;

  list-style: none;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/sections/VerticalsSection/VerticalsDesktop/VerticalsCardDescription/DescriptionContentTop/index.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.DescriptionContentTop_descriptionContentTop__S2fBc {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 30px;
}

.DescriptionContentTop_descriptionContentText__vp3ef {
  width: 40%;
}

.DescriptionContentTop_descriptionTitle__Ex3Bh {
  display: flex;
  align-items: center;

  margin: 0;

  text-align: left;
  text-transform: uppercase;

  color: var(--color-white);

  font-size: 66px;
  font-weight: 700;
  line-height: 1.1;
}

.DescriptionContentTop_titleWrapper__uNjqP {
  display: flex;
  gap: 0 20px;

  width: 100%;
}

.DescriptionContentTop_descriptionTitle__Ex3Bh.DescriptionContentTop_active__2FYRd {
  animation-delay: 500ms;
}

.DescriptionContentTop_descriptionContentTop__S2fBc p {
  margin: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.DescriptionContentTop_descriptionContentTop__S2fBc p.DescriptionContentTop_subtitle__Dhj8C {
  max-width: 516px;
  margin: 0 0 30px 0;

  font-size: 24px;
  font-weight: 700;
}

.DescriptionContentTop_subtitle__Dhj8C.DescriptionContentTop_activeSubtitle__puikd {
  animation: 1.5s DescriptionContentTop_showSubtitle__qbkWk ease backwards;
  animation-delay: 800ms;
}

.DescriptionContentTop_description__A6_rJ.DescriptionContentTop_activeDescription__2xKEi {
  animation: 1.5s DescriptionContentTop_showSubtitle__qbkWk ease backwards;
  animation-delay: 1000ms;
}

@keyframes DescriptionContentTop_showSubtitle__qbkWk {
  0% {
    transform: translateX(-45px);

    opacity: 0;
  }
  100% {
    transform: translateX(0);

    opacity: 1;
  }
}

.DescriptionContentTop_descriptionSubcategories__5EZ5X {
  align-self: flex-start;

  width: 50%;
  padding: 35px 41px 30px 41px;

  border-radius: 44px 0;
  background: var(--achievements-gradient);
}

.DescriptionContentTop_descriptionSubcategories__5EZ5X.DescriptionContentTop_active__2FYRd {
  animation: 1.5s ease DescriptionContentTop_subcategories-enter__5afLx forwards;
  animation-delay: 800ms;
}

@keyframes DescriptionContentTop_subcategories-enter__5afLx {
  0% {
    opacity: 0;
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  100% {
    opacity: 1;
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

.DescriptionContentTop_descriptionSubcategories__5EZ5X h3 {
  margin: 0;

  text-transform: uppercase;

  opacity: 0;

  font-size: 34px;
  font-weight: 500;
  line-height: 1.25;
}

.DescriptionContentTop_descriptionSubcategories__5EZ5X.DescriptionContentTop_active__2FYRd h3 {
  animation-delay: 1.5s;
}

.DescriptionContentTop_descriptionSubcategories__5EZ5X ul {
  margin-top: 30px;
  margin-left: 20px;

  list-style: disc;

  transition: opacity 1.5s ease;

  opacity: 0;
  columns: 2;
}

.DescriptionContentTop_descriptionSubcategories__5EZ5X.DescriptionContentTop_active__2FYRd ul {
  animation: 1.5s ease DescriptionContentTop_showIcon__awkxj forwards;
  animation-delay: 1.5s;
}

.DescriptionContentTop_descriptionSubcategories__5EZ5X ul li {
  margin-right: 20px;
  margin-bottom: 18px;

  list-style-position: outside;

  text-transform: capitalize;

  color: var(--color-light-purple);

  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.DescriptionContentTop_descriptionSubcategories__5EZ5X ul li span {
  color: var(--color-white);
}

.DescriptionContentTop_descriptionSubcategories__5EZ5X ul li:last-child {
  margin-bottom: 0;
}

.DescriptionContentTop_icon__MYrJp {
  width: 80px;
  height: 80px;
}

.DescriptionContentTop_icon__MYrJp.DescriptionContentTop_activeIcon___yQqx {
  animation: 1.5s DescriptionContentTop_showIcon__awkxj ease alternate backwards;
  animation-delay: 500ms;
}

@keyframes DescriptionContentTop_showIcon__awkxj {
  0% {
    transform: translateX(50px);

    opacity: 0;
  }
  100% {
    transform: translateX(0);

    opacity: 1;
  }
}

.DescriptionContentTop_achievement__86n8Y {
  display: flex;

  width: 199px;
  height: 199px;
  margin-right: 22px;
  padding: 5px;

  border-radius: 50%;
  background: linear-gradient(137.54deg, #ffd9d9 11.25%, #7000ff 89.51%);
  filter: drop-shadow(1px 2px 10px rgb(0 0 0 / 0.25));
}

.DescriptionContentTop_achievement__86n8Y:nth-child(2) {
  margin-right: 0;
}

.DescriptionContentTop_achievement__86n8Y:last-child {
  margin-top: -90px;
  margin-right: 0;
}

.DescriptionContentTop_achievementData__zDy3e {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;

  text-align: center;

  border-radius: 50%;
  background: var(--achievements-gradient);
}

.DescriptionContentTop_achievementData__zDy3e h3 {
  margin: 0;

  font-size: 55px;
  font-weight: 700;
  line-height: 1.1;
}

.DescriptionContentTop_achievementData__zDy3e span {
  display: inline-block;

  max-width: 148px;
  margin-top: 10px;

  letter-spacing: -0.01em;
  text-transform: uppercase;

  font-size: 18px;
  line-height: 1.2;
}

@media screen and (max-width: 1281px) {
  .DescriptionContentTop_descriptionContentText__vp3ef,
  .DescriptionContentTop_descriptionSubcategories__5EZ5X {
    width: 100%;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/sections/VerticalsSection/VerticalsDesktop/VerticalsCardDescription/index.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.VerticalsCardDescription_description__vhj43 {
  --height: 0;
  overflow: hidden;

  max-height: 0;

  list-style: none;

  transition: max-height 0.45s ease-out;
  transition-delay: 450ms;
  grid-column-end: 4;
  grid-column-start: 1;
}

.VerticalsCardDescription_description__vhj43.VerticalsCardDescription_active__7j4_z {
  max-height: var(--height);

  transition-delay: 0ms;
}

.VerticalsCardDescription_desktopArrow__X8gIh {
  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: center;

  width: 48px;
  height: 48px;
  margin-bottom: 33px;
  padding: 0;

  cursor: pointer;
  transition: transform 0.7s ease, opacity 0.7s ease;
  transform: scale(1.3);

  opacity: 0;
  border: none;
  border-radius: 20px 0px;
  background-color: var(--color-white);
}

.VerticalsCardDescription_descriptionWrapper__YnXyH {
  padding: 20px 0 60px 0;

  transition: -webkit-clip-path 0.45s ease;

  transition: clip-path 0.45s ease;

  transition: clip-path 0.45s ease, -webkit-clip-path 0.45s ease;

  background-color: var(--color-blue);
  -webkit-clip-path: inset(0 0 100% 0);
          clip-path: inset(0 0 100% 0);
}

.VerticalsCardDescription_descriptionWrapper__YnXyH.VerticalsCardDescription_activeWrapper__iNkOG {
  transition-delay: 700ms;
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
}

.VerticalsCardDescription_descriptionWrapper__YnXyH.VerticalsCardDescription_activeWrapper__iNkOG .VerticalsCardDescription_desktopArrow__X8gIh {
  transition-delay: 700ms;
  transform: scale(1);

  opacity: 1;
}

.VerticalsCardDescription_descriptionWrapper__YnXyH.VerticalsCardDescription_removeHeight__10vv0 {
  animation: 0.45s VerticalsCardDescription_removeActive__A80jY ease backwards;
}

@keyframes VerticalsCardDescription_removeActive__A80jY {
  0% {
    -webkit-clip-path: inset(0);
            clip-path: inset(0);
  }
  50% {
    -webkit-clip-path: inset(50% 0 50% 0);
            clip-path: inset(50% 0 50% 0);
  }
  100% {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
}

.VerticalsCardDescription_descriptionWrapper__YnXyH.VerticalsCardDescription_removeHeight__10vv0 .VerticalsCardDescription_descriptionContent__3yB5D {
  transform: scale(1.3);
}

.VerticalsCardDescription_descriptionContent__3yB5D {
  display: flex;
  flex-direction: column;

  transition: transform 0.45s ease;

  color: var(--color-white);
}

@media screen and (max-width: 1281px) {
  .VerticalsCardDescription_descriptionWrapper__YnXyH {
    padding: 20px 60px 60px 60px;
  }
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/sections/VerticalsSection/VerticalsMobile/VerticalsCardContent/CountItem/index.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CountItem_achievement__4T2aE {
  position: relative;

  display: flex;

  width: 138px;
  height: 138px;

  border-radius: 50%;
}

.CountItem_achievement__4T2aE svg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.CountItem_achievement__4T2aE svg .CountItem_shape__NGTNU {
  transform-origin: 50%;

  opacity: 0;
  fill: none;
  stroke-dasharray: 1000;
}

.CountItem_achievement__4T2aE.CountItem_active__jnIgD svg .CountItem_shape__NGTNU {
  animation: CountItem_circle__9jBry 1.5s linear forwards;
  animation-delay: 800ms;
}

@keyframes CountItem_circle__9jBry {
  0% {
    transform: rotate(-360deg);

    opacity: 1;
    stroke-dashoffset: 1000;
  }
  60% {
    transform: rotate(-150deg);

    opacity: 1;
    stroke-dashoffset: 600;
  }
  80% {
    transform: rotate(-100deg);

    opacity: 1;
    stroke-dashoffset: 300;
  }
  100% {
    transform: rotate(-90deg);

    opacity: 1;
    stroke-dashoffset: 0;
  }
}

.CountItem_achievementData__4YQDp {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;

  text-align: center;

  border-radius: 50%;
}

.CountItem_achievementData__4YQDp h3 {
  display: flex;
  align-items: center;

  margin: 0;

  font-size: 43px;
  font-weight: 700;
  line-height: 1.1;
}

.CountItem_achievementData__4YQDp h3 span {
  margin-left: 5px;

  font-size: 20px;
}

.CountItem_achievementData__4YQDp span {
  display: inline-block;

  max-width: 85%;

  letter-spacing: -0.01em;
  text-transform: uppercase;

  font-size: 11px;
  line-height: 1.5;
}

.CountItem_achievementData__4YQDp span.CountItem_countDescription__OSCKq {
  font-size: 15px;
  line-height: 1.25;
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/sections/VerticalsSection/VerticalsMobile/VerticalsCardContent/index.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.VerticalsCardContent_verticalCardContentDescription__2ZBwu {
  display: none;
  overflow: hidden;

  max-height: 0;

  transition: max-height 0.3s ease-out;

  font-size: 16px;
  font-weight: 500;
}

.VerticalsCardContent_verticalCardContentDescription__2ZBwu.VerticalsCardContent_active__JS444 {
  --height: 0;
  max-height: var(--height);

  transition: max-height 0.3s ease-in;
}

.VerticalsCardContent_achievementsTitle__NEWCG {
  margin: 0;
  margin-top: 50px;

  text-align: center;
  text-transform: uppercase;

  font-size: 30px;
  font-weight: 500;
  line-height: 1.25;
}

.VerticalsCardContent_dropdownBtn__UTQQh {
  display: flex;
  align-items: center;

  margin: 0 auto;
  margin-top: 50px;
  padding: 0;

  color: var(--color-white);
  border: none;
  background: none;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.VerticalsCardContent_verticalCardContentDescription__2ZBwu p.VerticalsCardContent_subtitle__Twxjo {
  margin: 0;

  font-size: 18px;
  font-weight: 700;
}

.VerticalsCardContent_verticalCardContentDescription__2ZBwu p {
  margin: 20px 0 0 0;

  font-weight: 400;
  line-height: 1.5;
}

.VerticalsCardContent_subcategories__2xn9h {
  --heightList: 0;
  overflow: hidden;

  max-height: 0;
  margin-top: 30px;
  margin-left: 20px;

  list-style: disc;
  list-style-position: outside;

  transition: max-height 0.3s ease-out;
  text-align: left;

  color: var(--color-light-blue);
}

.VerticalsCardContent_achievements__0FqK3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 293px;
  margin: 0 auto;
  margin-top: 30px;

  list-style: none;
  gap: 16px;
}

.VerticalsCardContent_subcategories__2xn9h.VerticalsCardContent_active__JS444 {
  overflow: visible;

  max-height: var(--heightList);

  transition: max-height 0.3s ease-in;
}

.VerticalsCardContent_subcategories__2xn9h li {
  margin-bottom: 15px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.VerticalsCardContent_subcategories__2xn9h li:last-child {
  margin-bottom: 50px;
}

.VerticalsCardContent_subcategories__2xn9h li span {
  color: var(--color-white);
}

@media screen and (max-width: 1025px) {
  .VerticalsCardContent_verticalCardContentDescription__2ZBwu {
    display: block;

    padding: 0 25px;
  }
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/sections/VerticalsSection/VerticalsMobile/index.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************/
.VerticalsMobile_verticalsCardSmall__gth67 {
  --delay: 0;
  display: none;

  list-style: none;

  cursor: pointer;
  transition: transform 0.55s ease, opacity 0.35s ease-in-out;
  transition-delay: var(--delay);

  opacity: 0;
  color: var(--color-white);
  border-radius: 44px 0;
  background: var(--verticals-gradient);
}

.VerticalsMobile_verticalsCardSmall__gth67.VerticalsMobile_activeAnimation__Bkspx {
  transform: translateX(0);

  opacity: 1;
}

.VerticalsMobile_verticalsCardSmall__gth67.VerticalsMobile_blue__iLoOK {
  background: var(--color-blue);
}

.VerticalsMobile_verticalsCardSmall__gth67.VerticalsMobile_active__HwHEH,
.VerticalsMobile_verticalsCardSmall__gth67.VerticalsMobile_blue__iLoOK.VerticalsMobile_active__HwHEH {
  color: var(--color-white);
  background: var(--color-gray);
}

.VerticalsMobile_verticalCardToggler__URZNZ {
  display: grid;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 30px 20px;

  cursor: pointer;

  color: var(--color-white);
  border: none;
  background: none;
  grid-template-columns: 1fr auto;
  justify-items: start;
}

.VerticalsMobile_verticalCardToggler__URZNZ h3 {
  margin: 0 auto;

  text-transform: uppercase;

  font-size: 30px;
  font-weight: 500;
}

.VerticalsMobile_smallX__pC4Wd {
  transform: translateX(-100px);
}

.VerticalsMobile_middleX__D0N8w {
  transform: translateX(-120px);
}

.VerticalsMobile_largeX__4FA3h {
  transform: translateX(-140px);
}

@media screen and (max-width: 1025px) {
  .VerticalsMobile_verticalsCardSmall__gth67 {
    display: block;
  }

  .VerticalsMobile_verticalCardContentTitle__jTyCl {
    max-width: 400px;
  }
}

@media screen and (max-width: 769px) {
  .VerticalsMobile_verticalsCardContentTitle__2xEVB {
    max-width: 261px;
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/sections/VerticalsSection/index.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.VerticalsSection_verticals__IM1tB {
  padding-top: 100px;

  color: var(--color-white);
}

.VerticalsSection_verticals__IM1tB .VerticalsSection_heading___oK0N {
  margin: 0;

  text-align: center;
  text-transform: uppercase;

  opacity: 0;
  color: var(--color-gray);

  font-size: 77px;
  font-weight: 700;
  line-height: 110%;
}

.VerticalsSection_verticalsGrid__aKpDK {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  gap: 30px;

  padding: 60px 0 0 0;
}

@media screen and (max-width: 1281px) {
  .VerticalsSection_verticals__IM1tB {
    padding: 100px 60px 0 60px;
  }
}

@media screen and (max-width: 1025px) {
  .VerticalsSection_verticals__IM1tB {
    padding-top: 60px;
  }

  .VerticalsSection_verticalsGrid__aKpDK {
    grid-template-columns: 1fr;
  }

  .VerticalsSection_verticals__IM1tB .VerticalsSection_heading___oK0N {
    font-size: 60px;
  }
}

@media screen and (max-width: 769px) {
  .VerticalsSection_verticals__IM1tB {
    padding-right: 30px;
    padding-left: 30px;
  }

  .VerticalsSection_verticals__IM1tB .VerticalsSection_heading___oK0N {
    font-size: 45px;
  }
}

@media screen and (max-width: 481px) {
  .VerticalsSection_verticals__IM1tB .VerticalsSection_heading___oK0N {
    font-size: 35px;
  }

  .VerticalsSection_verticals__IM1tB {
    padding-right: 5%;
    padding-left: 5%;
  }

  .VerticalsSection_verticalsGrid__aKpDK {
    padding-top: 40px;
  }
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/sections/HeroSection/index.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.HeroSection_hero__UfS0W {
  position: relative;

  padding-top: var(--header-height);

  background-color: var(--color-blue);
}

.HeroSection_hero__UfS0W video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: url('/images/Vector1.svg');
          mask-image: url('/images/Vector1.svg');
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
}

.HeroSection_overlay__t20M_ {
  position: absolute;
  top: 0;
  right: 0;

  width: 80%;
  max-width: var(--video-width);
  height: 100%;

  background-color: var(--color-blue);
}

@keyframes HeroSection_down-enter__d8g6Q {
  0% {
    opacity: 1;
    -webkit-clip-path: inset(0 0 100% 100%);
            clip-path: inset(0 0 100% 100%);
  }
  100% {
    opacity: 1;
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

.HeroSection_heroContent__5MxyZ {
  position: relative;
  z-index: 6;

  display: flex;
  align-items: center;

  max-width: var(--hero-width);
  margin: 0 auto;
  padding: 100px 0 83px 80px;

  color: var(--color-white);
  gap: 0 121px;
}

.HeroSection_heroContent__5MxyZ h1 {
  max-width: 516px;
  margin: 0;

  animation: 1.5s ease HeroSection_heading-scale__mfHZA forwards;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  font-size: 150px;
  font-weight: 700;
  line-height: 0.94;
}

@keyframes HeroSection_heading-scale__mfHZA {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.HeroSection_heroContent__5MxyZ h1 span {
  display: block;

  animation: 1s ease HeroSection_heading-enter__NHAmH forwards;

  opacity: 0;
}

.HeroSection_heroContent__5MxyZ h1 span.HeroSection_firstWord__Hj_Di {
  animation-delay: 0s;
}

.HeroSection_heroContent__5MxyZ h1 span.HeroSection_secondWord__GFlgS {
  animation-delay: 0.5s;
}

.HeroSection_heroContent__5MxyZ h1 span.HeroSection_thirdWord__jr_v3 {
  animation-delay: 1s;
}

@keyframes HeroSection_heading-enter__NHAmH {
  0% {
    opacity: 1;
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  100% {
    opacity: 1;
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

.HeroSection_heroContent__5MxyZ p {
  align-self: flex-end;

  max-width: 625px;
  margin: 0;

  animation: 1.5s ease HeroSection_down-enter__d8g6Q forwards;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  font-size: 38px;
  font-weight: 500;
  line-height: 1.2;
}

.HeroSection_mobileBg__FDvlX {
  position: absolute;
  bottom: 0;

  display: none;

  height: calc(100% - 87px);

  border-radius: 44px 0;
}

.HeroSection_mobileBgLeft__zVuS_ {
  width: 60%;

  color: var(--color-blue-opacity);
  border-top: 7px solid var(--color-white);
  border-left: 7px solid var(--color-white);
}

.HeroSection_mobileBgLeft__zVuS_::before {
  position: absolute;
  bottom: 0;
  left: -1px;

  width: 40%;
  height: 7px;

  content: '';

  background-color: var(--color-white);
}

.HeroSection_mobileBgRight__08KBv {
  right: 0;

  width: 60%;

  color: var(--color-blue);
  border-right: 7px solid var(--color-white);
  border-bottom: 7px solid var(--color-white);
}

.HeroSection_mobileBgRight__08KBv svg {
  position: absolute;
  right: -7px;
  bottom: -8px;
}

.HeroSection_mobileBgLeft__zVuS_ svg {
  position: absolute;
  top: -7px;
  left: -8px;

  transform: rotate(180deg);
}

.HeroSection_mobileBgRight__08KBv::before {
  position: absolute;
  top: 0;
  right: 0;

  width: 40%;
  height: 7px;

  content: '';

  background-color: var(--color-white);
}

@media screen and (max-width: 1281px) {
  .HeroSection_overlay__t20M_ {
    max-width: var(--hero-width);
  }

  .HeroSection_heroContent__5MxyZ {
    padding-right: 60px;
    padding-left: 60px;
  }

  .HeroSection_heroContent__5MxyZ h1 {
    font-size: 120px;
  }

  .HeroSection_heroContent__5MxyZ p {
    font-size: 33px;
  }
}

@media screen and (max-width: 1025px) {
  .HeroSection_hero__UfS0W {
    padding-top: 0;

    background: none;
  }

  .HeroSection_mobileBg__FDvlX {
    display: block;
  }

  .HeroSection_overlay__t20M_ {
    position: relative;

    width: 100%;
    max-width: 100%;
    height: 445px;

    animation: none;

    opacity: 1;
  }

  .HeroSection_overlay__t20M_::before {
    position: absolute;
    z-index: 555;
    top: 72px;
    right: 30.5%;

    display: block;

    width: 20px;
    height: 20px;

    content: '';

    border-radius: 50%;
    background-color: var(--color-white);
  }

  .HeroSection_overlay__t20M_ video {
    -webkit-mask: none;
    mask: none;
  }

  .HeroSection_heroWrapper__d5Lwb {
    position: relative;

    padding-left: 0;
  }

  .HeroSection_overlay__t20M_::after {
    position: absolute;
    z-index: 7;
    bottom: -5px;
    left: 30.5%;

    width: 20px;
    height: 20px;

    content: '';

    border-radius: 50%;
    background-color: var(--color-white);
  }

  .HeroSection_heroContent__5MxyZ {
    align-items: center;
    flex-direction: column;

    padding: 60px 0;

    background-color: var(--color-blue);
  }

  .HeroSection_heroContent__5MxyZ h1 {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;

    font-size: 70px;
    gap: 0 10px;
  }

  .HeroSection_heroContent__5MxyZ p {
    align-self: center;

    max-width: 336px;
    margin-top: 20px;

    text-align: center;

    font-size: 20px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 769px) {
  .HeroSection_heroContent__5MxyZ {
    padding: 39px 0 37px 0;
  }

  .HeroSection_heroContent__5MxyZ h1 {
    font-size: 55px;
  }
}

@media screen and (max-width: 576px) {
  .HeroSection_overlay__t20M_ {
    height: 295px;
  }

  .HeroSection_overlay__t20M_ video {
    width: 100%;
    height: 300px;
  }
}

@media screen and (max-width: 481px) {
  .HeroSection_overlay__t20M_::after {
    left: 26.5%;
  }

  .HeroSection_overlay__t20M_::before {
    right: 26.5%;
  }

  .HeroSection_mobileBgRight__08KBv::before,
  .HeroSection_mobileBgLeft__zVuS_::before {
    width: 30%;
  }
}

